/* Paste your css code here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Arial bold, Arial ;
}

:root{
    --color1:#454f6f;
    --color2:#e6834c;
}

.navigations{
    text-align: center;
    background-color:var(--color1);
    padding: 3rem;
}

.navs{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.navs a{
    text-decoration: none;
    color: white;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
}

nav a{
    font-size: 1.3rem;
    padding: 1.5rem;
}

nav a:hover{
    background-color: var(--color2);
    border-radius: 28%;
}

header{
    background-color: #e6834c;
    padding: 2rem;
}

.hero{
    display: flex;
    text-align: center;
    justify-content: space-around;  
}

.contant{
margin-top: 11%;
color: white;
}

.contant h1{
text-align: justify;
font-size: 4rem;
font-weight: 700;
}
.contant p{
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
}
.image{
    width: 50%;
    height: 540px;
    border-radius: 50%;
}

.about-us-container{
    padding: 2rem;
    text-align: center;
    background-color: #dedfe5;
    align-items: center;
    margin: 2rem 10%;

}

.content-c{
    padding: 2rem;
    color: black;
}

.content-c h2{
    font-size: 2.3rem;
    padding-bottom: 1.5rem;

}

.content-c p{
    text-align: justify;
    line-height: 1.8rem;
    font-size: 1.5rem;
}
.container{
    align-items: center;
    text-align: center;
    margin: 3rem 8rem;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.foods .images{
    width: 80%;
    height: 230px;
    border-radius: 1rem;
}

.des{
    text-align: justify;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.9;
}

.form-container{
    align-items: center;
    background-color: #dedfe5;
    text-align: center;
    padding: 3rem;
  }
  
  
  .forms h3{
    font-size: 2rem;  
    padding-bottom:1rem;       
    font-weight: 600;    
  }
  
  .forms form{
   display: flex;
   align-items: center;
   text-align: center;
   flex-direction: column;
  }
  
  
  #name{
    font-size: 1.8rem;
    width: 100%;
    padding: 0.7rem;
    border-radius:8px;
    color: #000;
    outline: none;
   margin-bottom: 2rem;
  }
  
  
  #email{
  
                      font-size: 1.8rem;
                      width: 100%;
                      padding: 0.7rem;
                      border-radius:8px;
                      color: #000;
                      outline: none;
                    margin-bottom: 2rem;
  
  }
  
  
  #massage{
            
                      font-size: 2rem;
                      width: 100%;
                      padding: 1.3rem;
                      border-radius:8px;
                      color: #000;
                      outline: none;
                    margin-bottom: 2rem;          
  }
  
  
  .submit-btn{
                      width: 100%;
                      background-color: var(--color2);
                      color: white;
                      padding: 1.3rem;
                      border-radius: 0.7rem;
                      font-size: 1.3rem;                   
    
  }
  
  
  footer p{
   background-color: var(--color2);
   text-align: center;
   padding: 1.5rem;
   font-size: 1.5rem;
  }


@media(min-width: 480px) and (max-width: 768px) {
    .navs {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      nav a{
        font-size: 1rem;
        padding: 1rem;
    }

    .logo{
        margin-bottom: 2rem;
    }

    .hero {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
      }

      .content h1 {
        text-align: center;
        font-size: 3.5rem;
        font-weight: 700;
      }
    
      .content p {
        font-size: 1.9rem;
        text-transform: uppercase;
        padding-top: 1.2rem;
      }
    
      .image {
        width: 100%;
        height: 530px;
        border-radius: 50%;
        margin: 2.5rem 0;
      }
    
      .content-c h2 {
        font-size: 1.6rem;
        padding-bottom: 1.5rem;
        text-transform: uppercase;
        line-height: 1.4;
      }
    
      .content-c p {
        text-align: justify;
        line-height: 1.5rem;
        font-size: 1rem;
      }
    
      .container {
        align-items: center;
        text-align: center;
        margin: 3rem 3.4rem;
      }
    
      .row {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
      }
    
    
      .foods .images {
        width: 100%;
        height: 250px;
        border-radius: 1rem;
      }
    
      .description {
        text-align: center;
        margin-bottom: 1.2rem;
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.8rem;
      }
    
    
      footer p {
        padding: 1.3rem;
        font-size: 1.2rem;
      }
}


